<div id="aboutWrapper">
    <h1>A Few Words About Us</h1>
    <hr>
    <p>
        Founded by two fellow mountain-climbers Joseph Watson and Jim Harrison, this travel agency has always focused on encompassing the best of what winter resorts can offer worldwide.

        Across the globe, we’ve selected hundreds of best skiing & snowboarding resorts, any of which will ensure a perfectly fresh winter holiday experience for you.
        
        Since 2004 we’ve helped thousands of travelers enjoy their vacation time on ski resorts across all 5 continents!
    </p>

    <a routerLink="home">Back</a>
</div>

